*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* COMMON */

body{
    font-family: 'Open Sans', sans-serif;
}

.clearfix:after{
    content: "";
    display: table;
    clear: both;
}

.float_sx{
    float: left;
}

.float_dx{
    float: right;
}  

nav li > a:hover{
    text-decoration: underline;
}

.button_style.blue_bg > a{
    color: white;
}

/* GRANDEZZE */

.w_85{
    width: 85%;
    margin: auto;
}

/* BUTTON */

.button_style{
    font-size: 1.1vw;
    border: none;
    transition: transform .4s;
    padding: 10px 20px
}

.button_style:hover{
    transform: scale(1.1);
}

.button_style > a{
    font-size: 1.1vw;
    text-decoration: none;
}

/* / BUTTON */

/* BACKGROUND COLOR */

.blue_bg{
    background-color: #0361FF;
}

/* / BACKGROUND COLOR */

/* TEXT COLOR */

.bordeaux_text{
    color: #62092B;
}

/* / TEXT COLOR */

/* /COMMON */


/* HEADER */

header{
    height: 80px;
    line-height: 80px;
    padding: 0 1%;
}

header  section{
    height: 100%;
}

section .logo{
    height: 30%;
    vertical-align: middle;
}

header nav{
    display: inline-block;
    margin: 0 1vw;
}

header nav li{
    display: inline-block;
    margin: 0 1vw;
    vertical-align: middle;
}

header nav li a{
    text-decoration: none;
    color: black;
    font-size: 1.1vw;
}

/* / HEADER */

/* Jumbotron */

section.jumbotron{
    background-color: #B4D0E7;
}

.jumbotron h1{
    font-size: 5vw;
    padding: 8vh 0 5vh;
}

.jumbotron .text_box{
    width: 35%;
}

.jumbotron .img_box{
    width: 65%;
}

.jumbotron .img_box > img{
    width: 100%;
}

/* Text_box */

.jumbo_box > .text_box{
    padding-right: 6%;
    text-align: left;
}

.jumbotron p:first-of-type{
    font-size: 1.1vw;
    font-weight: 500;
    margin: 0 0 6%;
}

.jumbotron p:last-of-type{
    font-size: 0.9vw;
    margin: 2% 0 13%;
}

.jumbotron .fas.fa-arrow-down{
    font-size: 3vw;
}


/* / Jumbotron */
